[user]
	name = allen_long
	email = along@amerisure.com
[core]
	excludesfile = .gitignore_global
[gui]
	recentrepo = /home/allen/work/modeling-documentation
[push]
	defualt = simple
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	
log-allen = log --graph --color --pretty=format:'%Cred%d%Creset %C(yellow)%an%Creset - %ar : %s' 

	##with out colors
	#log-allen = log --graph --color --pretty=format:'%d %an - %ar : %s' 
[push]
	default = simple

[credential]
	helper = cache --timeout=7200
