[user]
	name = allen_long
	email = along@amerisure.com
[core]
	#excludesfile = g:/.gitignore_global
	autocrlf = false
	excludesfile = .gitignore_global
[push]
	defualt = simple
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[alias]
	lg = log --color --graph --date=short --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(magenta) %cd (%cr) %C(cyan)<%an>%Creset' --abbrev-commit
	log-allen = log --graph --color --pretty=format:'%C(magenta)%d%Creset %C(yellow)%an%Creset - %ar : %s' 

[push]
	default = simple

[credential]
	helper = cache --timeout=7200
